/cpan/
/YAML-LibYAML*
/LibYAML/*.o
/LibYAML/*.bs
/LibYAML/LibYAML.c
/LibYAML/MYMETA.json
/LibYAML/MYMETA.yml
/LibYAML/Makefile
/LibYAML/pm_to_blib
/pm_to_blib
/blib
/MYMETA.json
/MYMETA.yml
/Makefile
/LibYAML/Makefile.old
